  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 25px;
}

.up-image {
    
    position: relative;
    background: url("./IMAGEN/image-equilibrium.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 310px;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.1;
    cursor:grab;

}

.up-image:hover {
    opacity: 0.5;
    background-color: aqua;
    background-image: url("./IMAGEN/icon-view.svg");
    width: 310px;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}


.contenedor-nuevo {
        width: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: hsl(216, 50%, 16%);
        border-radius: 10px;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.down-text {
    font-family: 'Outfit', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.text-principal {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
    color: hsl(215, 51%, 70%);
    border: 0;
    padding: 0;
}

.time {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.first-time {
    color: hsl(178, 100%, 50%);
    display: flex;
    align-items: center;
    text-indent: 0.5em;
}

.second-time {
    color: hsl(215, 51%, 70%);
    display: flex;
    align-items: center;
    text-indent: 0.5em;
}
hr {
    border: 0.5px solid hsl(215, 32%, 27%);
    width: 320px;
}
.pie-pagina {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    display: flex;
    align-items: left;
    text-indent: 0.5em;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    padding: 0;
}
.primera-parte-frase{
    color: hsl(215, 51%, 70%);
}

p {
    color: #fff;
}

@media only screen and (min-width:375px) and (max-width:1440px){
}